.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/**
 * My own CSS
 */
/**
   ===============================================
   ===============================================
   ===============================================
 **/

// Smooth scrolling throughout application
/*
html {
  scroll-behavior: smooth;
}
/**/

//  Sticky breadcrumbs menu
.sticky-breadcrumbs-menu {
  position: sticky;
  top: -1px;
}

// Token popup
.token-popup {
  position: fixed;
  top: 20vh;
  left: 25vw;
  width: 50vw;
  padding: 20px;
  background-color: #ffac2c;
  border-color: black;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  color: black;
  z-index: 1000;
}

// Account delete popup
.delete-account-popup {
  position: fixed;
  top: 20vh;
  left: 25vw;
  width: 50vw;
  padding: 20px;
  background-color: #f66358;
  border-color: black;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  color: black;
  z-index: 999;
}

// Popup overlay
#popup-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  // background: black;
  // opacity: 0.4;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  cursor: pointer;
  // pointer-events: none;
  // user-select: none;
}

// Popup overlay
#popup-overlay-2 {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  cursor: pointer;
}

// Settings profile picture
.settings-profile-picture {
  // width: 96px;
  // height: 96px;
  width: 12vw;
  height: 12vw
}

/// COLORS:
// #4d5791
// #b4c6f0
/**
   ===============================================
   ===============================================
   ===============================================
 **/