.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/**
 * My own CSS
 */
/**
   ===============================================
   ===============================================
   ===============================================
 **/

// Smooth scrolling throughout application
/*
html {
  scroll-behavior: smooth;
}
/**/

// D3Chart SCSS
/*
svg {
	// width: 100%;
	// height: 100%;
  left: 10vw;
  width: 80vw;
	height: 70vh;
}

path.slice{
	stroke-width:2px;
}

polyline {
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}
/**/
 
//  Sticky breadcrumbs menu
.sticky-breadcrumbs-menu {
  position: sticky;
  top: -1px;
}

// Token popup
.token-popup {
  position: fixed;
  top: 20vh;
  left: 25vw;
  width: 50vw;
  padding: 20px;
  background-color: #ffac2c;
  border-color: black;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  color: black;
  z-index: 1000;
}

/// COLORS:
// #4d5791
// #b4c6f0
/**
   ===============================================
   ===============================================
   ===============================================
 **/