.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/**
 * My own CSS
 */
/**
   ===============================================
   ===============================================
   ===============================================
 **/

// Smooth scrolling throughout application
/*
html {
  scroll-behavior: smooth;
}
/**/
 
//  Sticky breadcrumbs menu
.sticky-breadcrumbs-menu {
  position: sticky;
  top: -1px;
}

// Token popup
.token-popup {
  position: sticky;
  top: 0px;
  padding: 20px;
  background-color: #ffac2c;
  color: white;
  z-index: 1000;
}

/// COLORS:
// #4d5791
// #b4c6f0
/**
   ===============================================
   ===============================================
   ===============================================
 **/